nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}
nav > .logo{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}
nav > .info-btn >button{
    border-style: none;
    border: 1px solid orangered;
    border-radius: 5px;
    color: orangered;
    cursor: pointer;
}
body{
    background-color: #145DA0 ;
}
.card-container > .left > .content >.content-heading >h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    color: lightcoral;
    
}
.card-container > .left > .content > .content-description{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: large;
    color: white;
    
}
.card-container > .left > .content > button{
    padding: 5%;
    font-size: medium;
    color: white;
    background-color: seagreen;
    border-style: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7%;
}
.card-container > .left > .content > button:hover{
    background-color: lightseagreen ;
}
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}
.card-container > .left{
    width: 30%;
}
header > .card-container .gandhi-icon{
    /* background-image: url(./images/gandhi.png); */
    margin-right: 19%;
    margin-bottom: 20%;
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

header > .card-container > .right > .card{
    
    height: 250px;
    width: 420px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    perspective: 1000px;
    background: url('/images/rupee.jpeg') ;
    background-size: cover;
    cursor: pointer;
    border: .5px solid #E9EAEC;
    border-radius: 10px;
    position: relative;
    
}
.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
      -webkit-transition: none;
         -moz-transition: none;
              transition: none;
  }
  .card:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    border-radius: 10px;
    
      -webkit-transition: all 0.4s ease-in-out;
         -moz-transition: all 0.3s ease-in-out;
              transition: all 0.2s ease-in-out;
  }
  
  /* Two */
  /* .button.two {
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    
    background-image: -webkit-linear-gradient(
      top left,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: -moz-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );    
    background-image: -o-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    
    -moz-background-size: 250% 250%, 100% 100%;
         background-size: 250% 250%, 100% 100%;
    
    -webkit-transition: background-position 0s ease;
       -moz-transition: background-position 0s ease;       
         -o-transition: background-position 0s ease;
            transition: background-position 0s ease;
  }
   */
.card-front{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-front > img{
margin-left: 10%;
margin-bottom: 5%;
position: absolute;

}
.card-front > .master.png{
    margin-top: 50%;
    margin-left: 80%;
    position: absolute;
}
.card-front > .card-logo{
    margin-left: 79%;
    margin-bottom: 54%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
}


.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }

@media screen {
    
}
  